@import "./generated.fonts.css";
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "./generated.daisyui.css";

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: gray;
  transition: all 0.3s ease;
}

.dot:hover {
  background: red;
  transform: scale(1.2);
}

html, body {
  height: 100%;
  margin: 0;
}